# /etc/systemd/system/kmonadDellKbd.service
[Unit]
Description=kmonad keyboard config Blocker Dell

[Service]
Restart=always
RestartSec=3
ExecStart=/home/xianzhiwang/.local/bin/kmonad /home/xianzhiwang/.config/kmonad/config-Blocker-DELL.kbd
Nice=-20

[Install]
WantedBy=default.target


